[submodule "Libraries/ninject"]
	path = Libraries/ninject
	url = git://github.com/ninject/ninject.git

[submodule "Libraries/fluent-nhibernate"]
	path = Libraries/fluent-nhibernate
	url = git://github.com/jagregory/fluent-nhibernate.git
[submodule "Libraries/ninject.web.mvc"]
	path = Libraries/ninject.web.mvc
	url = git://github.com/ninject/ninject.web.mvc.git
