<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="elf" type="Elf.Configuration.SectionGroup,Elf">
            <section name="database" type="Elf.Configuration.DatabaseSection,Elf" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <elf>
        <database connectionStringName="other_elfdb" tablePrefix="new_" flavour="SqLite" >
            <hibernateProperties>
                <add name="someItem" value="someValue"/>
            </hibernateProperties>
        </database>
    </elf>
</configuration>